html
    head   
        title= title
        style  
            include main.css
    body
        h1= "KenzieGram"
        form(action="/upload" enctype="multipart/form-data" method="POST")
            input(type="file" name="my-file")
            button(type="submit")= "Upload"
        div(class="pictures")
            each picture in pictures  
                div(class="imageDiv")
                    img(src= "uploads/" + picture class= "image")