html
    head   
        title= title
        style  
            include main.css
    body
        h1= "KenzieGram"
        h2= "Picture successfully uploaded"
        a(href= "./")= "Back"
        div(class= "imageDiv")
            img(src= "uploads/" + picture class="image")